#login_page{
    margin-left:auto;
    margin-right:auto;
    margin-top:13%;
    padding:2% 2% 4% 7%;
    width:20%;
    border:2px rgb(116, 89, 89) solid;
    border-radius: 5%;
}

iframe{
    display:none;
}

button{
    margin-left:auto;
    margin-right:auto;
}

h1{
    font-size:30px;
    font-family: Baskerville, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

label{
    font-family: 'Times New Roman', serif
}

b{
    font-size:40px;
}

#chart_container{
    display:flex;
    flex-grow:1;
    width:100%
}

#admin_table{
    margin-left:auto;
    margin-right:auto
}

#histogram{
    width:700px;
    height:500px;
}

#piechart{
    width:700px;
    height:500px;
}

dialog{
    position:absolute;
    top:30%;
    z-index:1000;
}

#blockDiv{
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0.8;
    background-color: gray;
}

#main_title{
    text-align:center;
    font-size:40px;
}

hr{
    margin-top:60px;
}

